	body {
    background-color: rgb(179, 179, 179);
	  text-align: center;
    margin-top: 200px;
    margin-bottom: 200px;

	}

	h1 {}

	p {}

	img {}

	.imgindex {}

	#principal {}


